h1 {
    text-align:center;
    margin-block-end:0px;

}

#headingAndInputSection {
    background: linear-gradient(to bottom right, rgb(19, 241, 241), rgb(16, 70, 172) 60%, darkred 100%);
    text-align:center;
}

form {
    display: grid;
    grid-template-columns: 100%;
    grid-gap:1vw;
    margin-top:1vw;
}

input {
    text-align:center;
    border-color:black;
}

/* #completeMadLib {
    background: linear-gradient(to bottom, rgb(18, 151, 0), rgb(138, 79, 28) 100%, rgb(0, 0, 0) 1%);
} */

p {
    text-align:center;
}

p, li{
    font-family: 'Allerta Stencil', sans-serif;
}
